<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#分层索引" data-toc-modified-id="分层索引-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>分层索引</a></span><ul class="toc-item"><li><span><a href="#重排序和层级排序" data-toc-modified-id="重排序和层级排序-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>重排序和层级排序</a></span></li><li><span><a href="#按层级进行汇总统计" data-toc-modified-id="按层级进行汇总统计-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>按层级进行汇总统计</a></span></li><li><span><a href="#使用DataFrame的列进行索引" data-toc-modified-id="使用DataFrame的列进行索引-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>使用DataFrame的列进行索引</a></span></li></ul></li><li><span><a href="#联合与合并数据集" data-toc-modified-id="联合与合并数据集-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>联合与合并数据集</a></span><ul class="toc-item"><li><span><a href="#数据库风格的DataFrame连接" data-toc-modified-id="数据库风格的DataFrame连接-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>数据库风格的DataFrame连接</a></span></li><li><span><a href="#根据索引合并" data-toc-modified-id="根据索引合并-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>根据索引合并</a></span></li><li><span><a href="#沿轴向连接" data-toc-modified-id="沿轴向连接-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>沿轴向连接</a></span></li><li><span><a href="#联合重叠数据" data-toc-modified-id="联合重叠数据-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>联合重叠数据</a></span></li></ul></li><li><span><a href="#重塑和透视" data-toc-modified-id="重塑和透视-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>重塑和透视</a></span><ul class="toc-item"><li><span><a href="#使用多层索引进行重塑" data-toc-modified-id="使用多层索引进行重塑-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>使用多层索引进行重塑</a></span></li><li><span><a href="#将'长'透视为'宽'" data-toc-modified-id="将'长'透视为'宽'-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>将'长'透视为'宽'</a></span></li><li><span><a href="#将'宽'透视为'长'" data-toc-modified-id="将'宽'透视为'长'-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>将'宽'透视为'长'</a></span></li></ul></li></ul></div>

# 分层索引
## 重排序和层级排序
## 按层级进行汇总统计
sum(level=) method
## 使用DataFrame的列进行索引

# 联合与合并数据集 
## 数据库风格的DataFrame连接
merge()  

merge函数参数:

函数|描述
-|-
left|合并时操作中左边的DataFrame
right|
how| inner,outer,left,right, default=inner
on|需要连接的列名
left_on
right_on
left_index
right_index
sort 
suffixes|重叠情况下添加的后缀,默认_x,_y
copy
indicator|添加一个特殊的列_merge指示来源

In [4]:
import pandas as pd
left = pd.DataFrame({'key1': ['foo', 'foo', 'bar'],
                     'key2': ['one', 'two', 'one'],
                     'lval': [1, 2, 3]})
left

  key1 key2  lval
0  foo  one     1
1  foo  two     2
2  bar  one     3

In [5]:
right = pd.DataFrame({'key1': ['foo', 'foo', 'bar', 'bar'],
                      'key2': ['one', 'one', 'one', 'two'],
                      'rval': [4, 5, 6, 7]})
right

  key1 key2  rval
0  foo  one     4
1  foo  one     5
2  bar  one     6
3  bar  two     7

In [8]:
pd.merge(left,right,on=['key1','key2'],how='outer')

  key1 key2  lval  rval
0  foo  one   1.0   4.0
1  foo  one   1.0   5.0
2  foo  two   2.0   NaN
3  bar  one   3.0   6.0
4  bar  two   NaN   7.0

## 根据索引合并

## 沿轴向连接

concat()

## 联合重叠数据
# 重塑和透视
## 使用多层索引进行重塑
## 将'长'透视为'宽'
pivot()
## 将'宽'透视为'长'
melt()