# 文本格式数据的读写

## 文本数据读函数read_csv等及参数

文本数据读函数:  
* read_csv  
* read_table 等

* 原理:将文本数据转换为DataFrame
* 可选参数类型: 
    * 索引
    * 类型判断和数据转换
    * 日期时间解析
    * 迭代
    * 未清洗数据清理问题
* 参考资料: Pandas在线文档

* 不包含表头时需要进行操作
* 指定索引
* 分层索引
* 缺失值处理:
    * 不显示,即空字符串或 NA,NULL
    * na_values参数,使用字典每列可以指定不同的缺失值标志
    * .isnull()函数查看缺失值

read_csv/read_table参数:

para|describe
-|-
path|
sep/delimiter|分割每行字段的字符序列或正则表达式
header|列名的行号,默认0,无则None
index_col|行索引的列号或列名,可以是单一的或**分层索引**
names|与header=None一起用,结果的列名列表
skiprows|要跳过的行号
na_values|需要用NA替换的值序列
comment|行结尾处分隔注释的字符
parse_dates|尝试将数据解析为datatime,默认False
keep_date_col
converters|列名称映射到函数的字典,例如{'foo':f}将f函数应用到foo列
dayfirst
date_parser
nrows|只读入部分行时,从开头读入的行数
iterator
chunksize|用于迭代的块大小,指定其作为每一块的行数
skip_footer
verbose
encoding
squeeze|若解析数据只包含一列,返回一个Series
thousands

In [37]:
import pandas as pd

In [4]:
!dir

 驱动器 E 中的卷是 windows
 卷的序列号是 6B08-CDD8

 E:\pythonstudy\BestProj\Jupyter-Notebook 的目录

2020/02/05  16:37    <DIR>          .
2020/02/05  16:37    <DIR>          ..
2020/02/05  15:18    <DIR>          .ipynb_checkpoints
2020/02/05  16:28    <DIR>          examples
2020/02/02  12:28               168 some_array.npy
2020/02/04  11:22             3,494 测试_用Python进行数据分析.ipynb
2020/01/28  20:14             2,999 笔记_Hyperspectral-Classification程序复现笔记.ipynb
2020/02/04  01:07             3,011 笔记_画图库.ipynb
2020/02/04  00:32           409,130 练习_Numpy .ipynb
2020/02/05  15:18            88,510 练习_pandas入门.ipynb
2020/02/05  16:37             3,384 练习_数据载入,存储及文件格式.ipynb
               7 个文件        510,696 字节
               4 个目录  1,854,799,872 可用字节

In [6]:
!cd

E:\pythonstudy\BestProj\Jupyter-Notebook

In [23]:
!cd ./examples

In [25]:
!dir

 驱动器 E 中的卷是 windows
 卷的序列号是 6B08-CDD8

 E:\pythonstudy\BestProj\Jupyter-Notebook 的目录

2020/02/05  16:43    <DIR>          .
2020/02/05  16:43    <DIR>          ..
2020/02/05  15:18    <DIR>          .ipynb_checkpoints
2020/02/05  16:28    <DIR>          examples
2020/02/02  12:28               168 some_array.npy
2020/02/04  11:22             3,494 测试_用Python进行数据分析.ipynb
2020/01/28  20:14             2,999 笔记_Hyperspectral-Classification程序复现笔记.ipynb
2020/02/04  01:07             3,011 笔记_画图库.ipynb
2020/02/04  00:32           409,130 练习_Numpy .ipynb
2020/02/05  15:18            88,510 练习_pandas入门.ipynb
2020/02/05  16:43             4,060 练习_数据载入,存储及文件格式.ipynb
               7 个文件        511,372 字节
               4 个目录  1,854,799,872 可用字节

**注意路径要是\,反斜杠**

In [43]:
!type examples\ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [45]:
df = pd.read_csv('examples\ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

指定分隔符

In [47]:
pd.read_table('examples\ex1.csv',sep=',')

D:\Program_python\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [49]:
# 指定索引
pd.read_csv('examples\ex1.csv',index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [54]:
# 分层索引
pd.read_csv('examples\csv_mindex.csv',sep='\t')

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [57]:
parsed = pd.read_csv('examples\csv_mindex.csv',sep='\t',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [91]:
# 缺失值处理
# 不显示,即空字符串或 NA,NULL
# na_values参数,使用字典每列可以指定不同的缺失值标志
# .isnull()函数查看缺失值
df1 = pd.read_csv('examples/ex1.csv',na_values='NA')
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [90]:
sentinels = {'b':['NA','NALL',2,6],
             'message':['NA','NALL','foo']}

In [92]:
df2 = pd.read_csv('examples/ex1.csv',na_values=sentinels)
df2

   a     b   c   d message
0  1   NaN   3   4   hello
1  5   NaN   7   8   world
2  9  10.0  11  12     NaN

In [93]:
pd.isnull(df2)

       a      b      c      d  message
0  False   True  False  False    False
1  False   True  False  False    False
2  False  False  False  False     True

## 分块载入数据

## 数据写入文本格式

In [96]:
data = pd.read_csv('examples\ex1.csv')
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [101]:
# 一定注意命令行要用反斜杠
data.to_csv('examples/csv_write')
!type examples\csv_write

,a,b,c,d,message
0,1,2,3,4,hello
1,5,6,7,8,world
2,9,10,11,12,foo

In [103]:
import sys
data.to_csv(sys.stdout,sep='|')

|a|b|c|d|message
0|1|2|3|4|hello
1|5|6|7|8|world
2|9|10|11|12|foo

## 使用csv库分隔格式 和 CSV方言选项

In [107]:
!type examples\ex7.csv

"a","b","c"
"1","2","3"
"6","7","8"

In [112]:
import csv
f = open('examples\ex7.csv')
reader = csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['6', '7', '8']

In [114]:
# read line of file as list
with open('examples\ex7.csv') as f:
    lines = list(csv.reader(f))
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['6', '7', '8']]

In [124]:
# split the data into name row and data row
header, values = lines[0], lines[1:]

In [125]:
# creat a dict
data_dact = {h: v for h, v in zip(header, zip(*values))}
data_dact

{'a': ('1', '6'), 'b': ('2', '7'), 'c': ('3', '8')}

# 其他格式文件的读写